
a{
color:red;	
}


.section{
	min-height: 200px;
	background:#063960;
	padding: 50px;
	border-bottom:1px solid #ccc;
	margin-bottom: 20px;
	
}

#body{
	background: none;
}

h2{
color:#fff;	
}

#body h2{
color:yellow;	
}
ul{
background: #fff;	
}

#footer ul{
	
	list-style-type:circle; 
}

#footer a{
	color: blue;
}

#header ul li{
border-right: 1px solid #666;
background:blue;
display:inline-block;
padding: 15px;
	
}

#header ul li a{
	color: orange;
}

#myback{
	background-image: url(download.jpg);
	background-repeat: no-repeat;
	padding: 50px;
	width:  500px;
	height: 300px;
	
	border: 5px solid red;
	border-radius: 15px;
	box-shadow: 0px 2px 5px 0px #000;
	
	
}

#header ul  {
	list-style-type:none; 
	padding: 15px 0 15px 15px;